@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url(./fonts/Open_Sans/OpenSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), local("Inter-Regular"),
    url(./fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("Inter-Bold"),
    url(./fonts/Open_Sans/OpenSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Bold"), local("Raleway-Bold"),
    url(./fonts/Raleway/Raleway-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: OpenSans, sans-serif;
  letter-spacing: 0.02em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --------------------- HEADER -------------------------------- */
